
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

#menu {
    background-color: rgb(37, 37, 39);
}

#menu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    margin-left: 80px;
}

#menu ul li a:hover {
    background-color: rgb(15, 134, 118);
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    font-size: 20px; 

    }
    
    h1 {
        font-size: 35px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        color: rgb(182, 15, 15);
    }
    
    p {
        text-indent: 50px;
        margin: auto;
    }

    .coluna {
        float: left;
        width: 50%; }
       .row::after {
        clear: both;
        display: table;
      }

    @media screen and (max-width: 500px) {
        .column {
          width: 100%;
        }
      }
